.card-city{
  background-image: url('https://i.imgur.com/jRtWHlF.png');
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 2;
  width: 100%;
}
.btn{
  background-color: white;
}

.card-bg{
  background-color:#D9D9D9E5 ;
}
