<div class="container d-flex justify-content-center align-items-center">
  <div class="card text-center mt-4 ">
    <div class="card-body m-5">
      <h5 class="card-title">¿Dónde Estás?</h5>
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Selecciona una Ciudad
        </button>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a class="dropdown-item active" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Separated link</a></li>
        </ul>
      </div>
    </div>
    <div class="card-footer text-muted">
      2 days ago
    </div>
  </div>
</div>

