<div class="row container animated fadeIn m-5">
  <div class="col-md-4">
    <img [src]="movie.image" [alt]="movie.name" title="{{movie.name}}" class="img-fluid w-100 ">
    <br>
  </div>
  <div class="col-md-8 synopsis">
    <h3> {{movie.name}} </h3>
    <hr>
    <p> {{movie.synopsis}}</p>
    <hr>
    <div class="dropdown">
      <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Selecciona una Sucursal
      </button>
      <ul class="dropdown-menu dropdown-menu-light">
        <li><a class="dropdown-item"></a></li>
      </ul>
    </div>
  </div>
</div>
